<div class="panel panel-default" condition="SecurityManager.IsLogin">
    <div class="panel-heading">个人信息</div>
    <div class="panel-body">
        <p>
            <a asp-action="Index" asp-controller="User" asp-route-userName="@SecurityManager.CurrentUser.UserName">
                <useravatar email="@SecurityManager.CurrentUser.Email" size="48" title="@SecurityManager.CurrentUser.UserName"></useravatar>
            </a>
            <a asp-action="Index" asp-controller="User" asp-route-userName="@SecurityManager.CurrentUser.UserName">
                @SecurityManager.CurrentUser.UserName
            </a>
        </p>
        <i class="text-muted">
            <small>
                @(SecurityManager.CurrentUser.Signature ?? "这家伙很懒，什么个性签名都没有留下")
            </small>
        </i>
    </div>
</div>
<div class="panel panel-default" condition="!SecurityManager.IsLogin">
    <div class="panel-body">
        <h5>@SiteConfiguration.Title</h5>
        您可以 <a asp-action="Login" asp-controller="Account">登录</a> 或 <a asp-action="Register" asp-controller="Account">注册</a>
    </div>
</div>