@using DotNetClub.Web.ViewModels.Topic
@model IndexViewModel

@{
}


<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>
                <strong>@Model.Topic.Title</strong>
            </h4>
            <p class="text-muted">
                <ul class="list-inline text-muted" style="font-size:12px;">
                    <li>发布于: <datetime date="@Model.Topic.CreateDate"></datetime></li>
                    <li>作者: <a asp-action="Index" asp-controller="User" asp-route-userName="@Model.Topic.CreateUser.UserName">@Model.Topic.CreateUser.UserName</a></li>
                    <li>@Model.Topic.VisitCount 次浏览</li>
                    <li>来自: @Model.Topic.CategoryModel.Name</li>
                </ul>
            </p>

            <hr />

            <p>
                @Model.Topic.Content
            </p>
        </div>
    </div>

    @if(Model.CommentList.Count > 0)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                @Model.CommentList.Count 回复
            </div>
            <div class="panel-body noPadding">                
                @foreach(var comment in Model.CommentList)
                {
                    <div class="cell" id="@($"comment{comment.ID}")">
                        <div>
                            <useravatar email="@comment.CreateUser.Email" size="28"></useravatar>                            
                            <a asp-action="Index" asp-controller="User" asp-route-userName="@comment.CreateUser.UserName">@comment.CreateUser.UserName</a>
                            <small>
                                <datetime date="@comment.CreateDate"></datetime>
                            </small>
                        </div>
                        <div style="padding-left:40px;">
                            @comment.Content
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    <div class="panel panel-default">
        <div class="panel-heading">添加回复</div>
        <div class="panel-body">
            <form method="post" asp-action="Add" asp-controller="Comment" asp-antiforgery="true">
                <input type="hidden" name="TopicID" value="@Model.Topic.ID"/>
                <div class="form-group">
                    <textarea name="Content" class="form-control" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-md-3">
    @await Component.InvokeAsync("UserInfoPanel", new { user = Model.Topic.CreateUser })

    @await Component.InvokeAsync("UserOtherTopicsPanel", new { userID = Model.Topic.CreateUserID, count = 10, exclude = new int[] { Model.Topic.ID } })

    @await Component.InvokeAsync("NoCommentsTopicPanel", new { count = 10 })
</div>