@model DotNetClub.Core.Model.PagedResult<DotNetClub.Core.Entity.Topic>
@{
    var user = ViewBag.User as DotNetClub.Core.Entity.User;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home">主页</a></li>
            <li><a asp-action="Index" asp-controller="User" asp-route-userName="@user.UserName">@($"{user.UserName}的主页")</a></li>
        </ol>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">@user.UserName 回复的话题</div>
    <div class="panel-body noPadding">
        @Html.Partial("_TopicList", Model.Data)

        <div class="text-center">
            <pager page-index="@Model.PageIndex" page-size="@Model.PageSize" total="@Model.Total"></pager>
        </div>
    </div>
</div>